# Bytecode / cache
__pycache__/
*.pyc
*.pyo
*.pyd
*.log

# Virtual environments
.env
.venv/
env/
venv/

# Git and CI/CD
.git
.gitignore
.github/

# OS-specific files
.DS_Store
Thumbs.db

# Local development data
data/*.json
tests/
*.sqlite3
